.home-container {
  .banner-container {
    width: 100%;
    height: 31.0625rem;
  }
}

@media (min-width: 768px) {
  .home-container {
    .banner-container {
      width: 100%;
      height: 42.0625rem;
      .home-banner-container {
        justify-content: center;
      }
    }
  }
}
