.aging-place-container {
  padding: 2.5rem 1rem;
  text-align: center;
  h3 {
    color: var(--color-primary-Text);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.875rem; /* 30px */
  }
  p {
    color: var(--color-primary-Text);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.3125rem;
    margin-bottom: 3.5rem;
    margin-top: 0.5rem;
  }
  button {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-transform: none;
    width: 17rem;
  }
}
