:root {
  //website color scheme
  --primary: #d25333;
  --secondary: #ffffff;

  //text color scheme
  --color-primary-Text: #2e2c2c;
  --color-secondary-Text: #090a16;

  //Line color scheme
  --color-primary-border-Line: #d9d9d9;

  //background color scheme
  --background-primary-Color: #d4d4d4;
  --background-secondary-Color: #707070;
  --background-third-Color: #a3bbbd;

  //semantic color scheme
  // --positive-color: #008f5d;
  // --negative-color: #ea3829;
  // --notice-color-primary: #f68524;
  // --informative-color: #3892f3;
  // --notice-color-secondary: #f1b415;

  //icon color
  // --icon-primary-color: #20639a;
  // --icon-secondary-color: #333c42;
}
