.safety-container {
  text-align: center;
  .image-container {
    display: flex;
    img {
      width: 100%;
      height: auto;
    }
  }
  .sub-container {
    padding: 2.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    .section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h3 {
        color: var(--color-primary-Text);
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.5rem;
      }
      p {
        color: var(--color-primary-Text);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.3125rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .safety-container .sub-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    .section {
      max-width: 368px;
      border-radius: 0.5rem;
      border: 1px solid var(--color-primary-border-Line);
      padding: 1.5rem 1rem;
      min-height: 12.5rem;
      box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.2),
        0 12px 24px -4px rgba(145, 158, 171, 0.12);
    }
  }
}
