.fallIn-home-container {
  background: #a3bbbd;
  padding: 2.5rem 1rem;
  text-align: center;
  h3 {
    color: var(--color-primary-Text);
    font-size: var(--size20);
    font-weight: 700;
    line-height: 1.875rem; /* 30px */
  }
  h4 {
    color: var(--color-primary-Text);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem; /* 24px */
    padding: 2.5rem 0;
  }
  .description {
    p {
      color: var(--color-primary-Text);
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.3125rem; /* 21px */
    }
    :nth-child(2) {
      padding: 1.875rem 0;
    }
  }
}
