body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Inter",
    "Open Sans" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--size16);
}

* {
  box-sizing: border-box;
  font-family: "Inter";
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* firefox */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cdcbcb;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #cdd5dd;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
